Controller for five dosing pumps.

Control variables are:
- Total volume dosed per 24 hrs
- Number of sub-doses per 24 hours
- Time for each dose.
Note: for pumps 1, 2, & 3, the total volume and number of sub-doses are to be the same. 
However, there is to be a time offset between them (ie. only one pump works at a time)
Pumps 4 and 5 can have different values for each control variable. 
Alternatively, pumps 4 and 5 might run off level switches?

Calibration
Need to have some method of easily calibrating the volume dosed (ml) against pump run-time.

Alarms/logs
Provide alarms for fluid levels in sump, and each storage container.
Log each sub-dose (volume/run-time and time each sub-dose is administered)

Use
Must be able to easily set number of sub-doses and the total volume of pumps 1/2/3 and 4 and/or 5. 
For pumps 1/2/3, the unit must calculate the best times for each pump sub-dose.
(Total daily dose divided by the number of sub-doses, divided by 3 to give the pump run-offsets)

Hardware
Arduino Nano
i2c LCD display
i2c RTC
5x Motor Drivers (i2c 16-channel?)
5x low voltage (6v) Peristaltic dosing pumps
5x level detection switches (for sump level min and max, and 4x dosing containers min levels)

Stories
0001 - As the dosing system, I need an real time clock to accurately measure the time and trigger suitable actions.
0002 - As the dosing system, I need an i2c-compatible LCD to use as a User interface (UI).
0003 - As the dosing system, I need to be able to write to, and retreive settings from an SD card reader.
0004 - As the dosing system, I need a UI that allows users to configure settings.
0005 - As the dosing system, I need to be able to control a pump using a MiniMoto DRV8830 driver board.
0006 - As the dosing system, I need to run a calibration routine so that the time taken to pump a known quantity of liquid is known.
0007 - As the dosing system, I need to control all pumps using seperate instances of the code for the MiniMoto DRV8830 driver boards.
0008 - As the dosing system, I need to take the stored settings for Pump1, Pump2 and Pump3, and apply them to the driver circuits for the relevant pumps.
0009 - As the dosing system user, I need to be able to use the UI to configure and store settings for the first dosing pump (Pump1).
       (Settings are: total dose, number of sub-doses.)
0010 - As the dosing system user, I need to be able to configure and store settings for the Pump2 and Pump3.
       (Settings are time offsets from Pump 1 - offestPump2 and offsetPump3)
0011 - 
0012 - 
